SF_CLIENT_ID=your_connected_app_consumer_key
SF_CLIENT_SECRET=your_connected_app_consumer_secret
SF_REDIRECT_URI=http://localhost:5000/oauth/callback
SF_LOGIN_URL=https://login.salesforce.com
SF_API_VERSION=v60.0
CLIENT_URL=http://localhost:5173
PORT=5000
